a {
    color: #ff6d00;
    text-decoration: none;
    font-weight: 1000; !important
    position: relative;
    transition: color 0.3s;
}
body {
    font-family: "Corbel Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

#caption {
    font-size: 60px;
    font-weight: 1000; !important
}
.categories {
    margin: auto;
    background-color: #ffffff;
    display: flex;
}

.date {
    margin-top: 20px;
    font-size: 21px;
}
#header {
    background-color: #011175;
    margin: -8px;
    padding: 15px;
}

#statement {
    background-color: #ffffff;
    margin-top: 8px;
    margin-left: -8px;
    margin-right: -8px;
    height: 550px;
    display: flex;
}

#text-box {
    margin: auto;
    font-size: 18px;
    width: 750px;
    height: 600px;
    padding: 10px;
    overflow-y: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.text {
    margin-top: 15px;
}

.title {
    margin-top: 10px;
    font-size: 50px;
}